In [9]:
import sys
sys.path.append('..')

import os
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)

from sklearn.model_selection import train_test_split

from src.features.preprocessing_utils import df_preprocess_text
from src.features.feature_engineering_utils import df_get_features
from src.features.feature_encoding_utils import fit_encoders, transform_features


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
train = pd.read_csv ("../train.csv", header = [0])[['text', 'target']]
X_test = pd.read_csv ("../test.csv", header = [0])[['text']]
X_train, X_valid, y_train, y_valid = train_test_split(train.drop(['target'], axis = 1), train['target'], random_state=0, train_size = 0.8)

In [26]:
X_train_text_preprocessed = df_preprocess_text(X_train)
X_valid_text_preprocessed = df_preprocess_text(X_valid)
X_test_text_preprocessed = df_preprocess_text(X_test)

In [27]:
X_train_text_preprocessed.shape

(6090, 3)

In [17]:
X_train_no_text = df_get_features(X_train_text_preprocessed.iloc[:50])

In [14]:
X_train_text_preprocessed.head()

,text,text_no_mojibake,text_processed
1386,Ted Cruz fires back at Jeb &amp; Bush: ÛÏWe lose because of Republicans like Jeb &amp; Mitt.Û [Video] http://t.co/FgDEh56PLO,Ted Cruz fires back at Jeb & Bush: ÛÏWe lose because of Republicans like Jeb & Mitt.Û [Video] http://t.co/FgDEh56PLO,Ted Cruz fires back at Jeb <punc> Bush <punc> ÛÏWe lose because of Republicans like Jeb <punc> Mitt . Û <punc> Video <punc> <url>
4048,This is the first year the Forest Service spent more than half its annual budget on fighting fires. #climatechange http://t.co/D62zfZy0Mi,This is the first year the Forest Service spent more than half its annual budget on fighting fires. #climatechange http://t.co/D62zfZy0Mi,This is the first year the Forest Service spent more than half its annual budget on fighting fires . <hashtag> climatechange <url>
3086,@lightseraphs pissed at you and could have their pikachu electrocute you and :\\\,@lightseraphs pissed at you and could have their pikachu electrocute you and :\\\,<user> pissed at you and could have their pikachu electrocute you and <punc>
272,I'm gonna fight Taylor as soon as I get there.,I'm gonna fight Taylor as soon as I get there.,I <punc> m gonna fight Taylor as soon as I get there .
7462,@NicolaClements4 IÛªm not sure that covering my head in wounds and scabs is the solution ;),@NicolaClements4 IÛªm not sure that covering my head in wounds and scabs is the solution ;),<user> IÛªm not sure that covering my head in wounds and scabs is the solution <punc>

In [6]:
X_train_no_text

,char_count,punc_ratio,cap_ratio,sentence_count,stopword_num,hashtag_num,at_num,url_num,country_mention_num,token_count
1386,119,0.092437,0.126050,1,3,0,0,1,0,36
4048,137,0.051095,0.043796,2,7,1,0,1,0,26
3086,81,0.061728,0.000000,1,7,0,1,0,0,17
272,46,0.043478,0.065217,1,4,0,0,0,1,16
7462,92,0.032609,0.032609,1,7,0,1,0,0,20
4778,134,0.052239,0.022388,4,11,0,0,0,0,32
260,120,0.050000,0.050000,2,6,0,0,0,0,35
2921,37,0.054054,0.027027,2,3,0,0,0,0,11
2162,140,0.021429,0.135714,2,6,1,1,0,0,27
4818,39,0.025641,0.051282,1,2,0,1,0,0,8
7190,81,0.135802,0.024691,2,7,0,1,0,0,20
4512,87,0.114943,0.011494,4,1,0,1,0,0,18
2678,83,0.168675,0.168675,2,0,0,0,2,0,18
1536,89,0.101124,0.662921,1,0,0,0,1,0,24
6905,89,0.056180,0.044944,3,5,0,1,0,0,24
1413,129,0.031008,0.038760,2,12,0,1,0,1,30
2095,108,0.129630,0.175926,1,2,0,0,2,1,32
7038,136,0.073529,0.117647,1,3,0,0,1,2,28
4431,44,0.022727,0.022727,1,4,0,0,0,0,10
4196,76,0.065789,0.171053,1,0,0,0,1,0,11

In [37]:
X_train_features = df_get_features(X_train_text_processed)

In [38]:
X_valid_features = df_get_features(X_valid_text_processed)
X_test_features = df_get_features(X_test_text_processed)

In [41]:
tuple([1,3])

(1, 3)

In [40]:
X_valid_features.head()

,text,text_no_mojibake,text_processed,char_count,punc_ratio,cap_ratio,sentence_count,stopword_num,hashtags,hashtag_num,at,at_num,url,url_num,country_mention_num,token_count
311,@KatieKatCubs you already know how this shit goes. World Series or Armageddon.,@KatieKatCubs you already know how this shit goes. World Series or Armageddon.,<user> you already know how this shit goes . World Series or Armageddon .,78,0.038462,0.076923,2,4,[],0,[KatieKatCubs],1,[],0,0,16
4970,@LeMaireLee @danharmon People Near Meltdown Comics Who Have Free Time to Wait in Line on Sunday Nights are not a representative sample. #140,@LeMaireLee @danharmon People Near Meltdown Comics Who Have Free Time to Wait in Line on Sunday Nights are not a representative sample. #140,<user> <user> People Near Meltdown Comics Who Have Free Time to Wait in Line on Sunday Nights are not a representative sample . <hashtag> <number> <number> <number>,140,0.028571,0.107143,2,6,[140],1,"[LeMaireLee, danharmon]",2,[],0,0,39
527,1-6 TIX Calgary Flames vs COL Avalanche Preseason 9/29 Scotiabank Saddledome http://t.co/5G8qA6mPxm,1-6 TIX Calgary Flames vs COL Avalanche Preseason 9/29 Scotiabank Saddledome http://t.co/5G8qA6mPxm,<number> <number> TIX Calgary Flames vs COL Avalanche Preseason <number> <punc> <number> Scotiabank Saddledome <url>,99,0.070707,0.151515,1,0,[],0,[],0,[http://t.co/5G8qA6mPxm],1,0,27
6362,If you ever think you running out of choices in life rembr there's that kid that has no choice but wear a suicide bomb vest,If you ever think you running out of choices in life rembr there's that kid that has no choice but wear a suicide bomb vest,If you ever think you running out of choices in life rembr there s that kid that has no choice but wear a suicide bomb vest,123,0.008130,0.008130,1,13,[],0,[],0,[],0,0,26
800,If you dotish to blight your car go right ahead. Once it's not mine.,If you dotish to blight your car go right ahead. Once it's not mine.,If you dotish to blight your car go right ahead . Once it s not mine .,68,0.044118,0.029412,2,6,[],0,[],0,[],0,0,17

In [7]:
from src.features.vectorisers_utils import fit_vectoriser, transform_text_vec

In [30]:
X_train_text_preprocessed1 = X_train_text_preprocessed[['text_processed']].to_numpy().squeeze().tolist()

In [32]:
vectoriser_name: str = 'tfidf_vectoriser'
vectoriser, _ = fit_vectoriser(X_train=X_train_text_preprocessed, vectoriser_name=vectoriser_name)

In [33]:
X_train_text_vect = transform_text_vec(X_train_text_preprocessed, vectoriser=vectoriser)

In [34]:
X_train_text_vect

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [36]:
from sklearn.metrics import f1_score, roc_auc_score

In [37]:
f1_score.__name__

'f1_score'